 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,600&display=swap');

 @font-face {
     font-family: Vermin Vibes;
     src: url(VerminVibes.ttf);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Vermin Vibes;
     user-select: none;
 }

 body {
     background: linear-gradient(#212730, #111214);
     background-attachment: fixed;
 }

 .header,
 .footer {
     position: relative;
 }

 .header_bg {
     width: 100%;
     height: 100vh;
     background: url(dddd.svg);
     background-size: cover;
     justify-content: center;
     display: flex;
     align-content: center;
     clip-path: circle(180vh at 50% -115vh);
     position: absolute;
     background-attachment: fixed;
     top: -100px;
     background-position: center;
 }

 .footer_bg {
     width: 100%;
     height: 100vh;
     background: url(footer.svg);
     background-size: cover;
     display: flex;
     justify-content: center;
     align-content: center;
     position: absolute;
     top: -50rem;
     opacity: 0.1;
     background-position: center;
 }

 .slide-container {
     max-width: 1800px;
     width: 100%;
     padding: 40px 0;
 }

 .slide-content {
     margin: 0 40px;
     padding: 40px 0px;
     overflow: hidden;
     border-radius: 5px;
     -webkit-box-reflect: below -195px -webkit-gradient(linear, left top, left bottom,
             from(transparent), color-stop(70%, #00000000), to(rgb(250 250 250 / 40%)));
 }

 .swiper-slide {
     border-radius: 12px;
     width: 300px;
     height: 480px;
     margin: 0 !important;
 }

 .card img {
     width: 100%;
     height: 100%;
     border-radius: 12px;
     object-fit: cover;
     position: relative;
     z-index: 2;
 }

 .card .shadow {
     position: absolute;
     width: 103%;
     height: 103%;
     overflow: hidden;
     display: flex;
     left: 50%;
     transform: translate(-50%, 0);
     bottom: 0;
     z-index: -2;
     border-radius: 20px;
     filter: blur(20px);
     opacity: 0.4;
     top: 0;
 }

 .info_content {
     position: absolute;
     bottom: 10px;
     z-index: 2;
     color: #fffffff2;
     display: flex;
     align-content: center;
     justify-content: space-between;
     border-radius: 12px;
     margin: 0px 12px;
     padding: 16px;
     left: 0;
     right: 0;
     background: rgba(12, 12, 12, 0.37);
     box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
     backdrop-filter: blur(10px);
     border-radius: 10px;
     font-family: 'Nunito', sans-serif;
 }

 .info_content .info-sub h3 {
     font-size: 15px;
     color: rgb(181, 181, 181);
     font-family: 'Nunito', sans-serif;
 }

 .info_content .info-sub h1 {
     font-size: 20px;
     font-weight: 600;
     color: rgb(250, 250, 250);
     font-family: 'Nunito', sans-serif;
 }

 .info_content .info-sub h1 span {
     font-size: 20px;
     font-weight: 600;
     color: #ffea2a;
     font-family: 'Nunito', sans-serif;
 }

 .info_content h2 {
     color: #1eff5c;
     font-family: 'Nunito', sans-serif;
     font-size: 20px;
     transition: all 0.3s ease;
 }

 .info_content h2 i {
     margin-left: 2px;
     font-size: 18px;
 }

 .info_content:hover>h2 {
     text-shadow: 0px 0px 20px #1eff5c;
 }

 .swiper-slide:not(.swiper-slide-active) .info_content {
     opacity: none;
     visibility: hidden;
 }

 .content_titles {
     margin: 100px 0;
     position: relative;
 }

 .content_titles h2 {
     font-size: 90px;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 7px;
     text-align: center;
     text-shadow: -1px -1px 20px rgba(255, 255, 255, 0.271);
 }

 .content_titles h2 span {
     background: -webkit-linear-gradient(45deg, #4048ff, #ff06cb, #ff5c28);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-shadow: none !important;
 }

 @media screen and (max-width: 768px) {
     .slide-content {
         margin: 0 10px;
     }
 }

 @media screen and (max-width: 768px) {
     .content_titles h2 {
         font-size: 40px;
     }

     .info_content .info-sub h3 {
         font-size: 14px;
     }

     .info_content .info-sub h1 {
         font-size: 18px;
     }

     .info_content {
         font-size: 18px;
     }

 }